body {
  background-color: #ffffff;
  font: 1em Helvetica;
}

#container {
  width: 840px;
  margin: 25px auto;
}

.whysign {
  float: left;
  background-color: #ffffff;
  width: 480px;
  height: 347px;
  border-radius: 0 5px 5px 0;
  padding-top: 20px;
  padding-right: 20px;
}

.signup {
  float: left;
  width: 300px;
  padding: 30px 20px;
  background-color: white;
  text-align: center;
  border-radius: 5px 0 0 5px;
}

#text {
  display: block;
  margin: 0 auto;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 25px;
  line-height: 45px;  
  margin-bottom: 10px;
  font-size: 1em;
  color: #717D7E;
}
#text2 {
  display: block;
  margin: 0 auto;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 35px;
  line-height: 45px;  
  margin-bottom: 10px;
  font-size: 1em;
  background-color: #FFFFFF;
  color: #717D7E;
}
#text3 {
  display: block;
  margin: 0 auto;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 35px;
  line-height: 45px;  
  margin-bottom: 10px;
  font-size: 1em;
  background-color: #F4F4F4;
  color: #717D7E;
}
#text:focus {
  outline: none;
  border-color: #53CACE;
}
#select {
  display: block;
  margin: 0 auto;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 40px;
  line-height: 35px;  
  margin-bottom: 10px;
  font-size: 1em;
  color: #717D7E;
}
h1 {
  color: rgba(0,0,0,.7);
  font-weight: 900;
  font-size: 2.5em;
}

p {
  color: rgba(0,0,0,.6);
  font-size: 1.2em;
  margin: 50px 0 50px 0;
}

.span {
  text-align: left;
  display: block;
  margin: 0 auto;
  width: 100%;
  border: 0;
  height: 25px;
  line-height: 45px;  
  margin-bottom: 10px;
  font-size: 1em;
  color: #717D7E;
}

p:nth-of-type(2) {
  font-size: 1em;
}
::placeholder{
 color:#BFC9CA;
} 
select {
  background-color: #ffffff;
  display: block;
  margin: 0 auto;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 45px;
  line-height: 45px;  
  margin-bottom: 10px;
  font-size: 1em;
  color: #717D7E;
}
select:focus{
  outline: none;
  border-color: #53CACE;
}
/* // */

.form-datos {
  width: 90%;
  border-radius: 15px;
  margin-left: 5%;
  border: 0.5px solid #ECECEC;
  background-color: white;
}

.form-baja {
  width: 90%;
  border-radius: 15px;
  margin-left: 5%;
  background-color: rgb(245, 245, 245);
}

h2{
  color: #063E7F;
  font-size: 20px;
  font-family: 'ITC Avant Garde Gothic', sans-serif;
  margin-top: 35px;
}
.tabla-levantamiento-{
  text-align: center;
  background-color: #063E7F;

}
.global-dates{
  text-align: center;
  justify-content:center; 
  margin-right:auto; 
  margin-left:auto; 
  width: 99%;
}

.boton-personalizado-4 {
  font-family: 'ITC Avant Garde Gothic', sans-serif;
  text-decoration: none;
  font-size: 20px;
  color: #FFFFFF;
  padding-top: 19px;
  padding-bottom: 13px;
  padding-left: 83px;
  padding-right: 81px;
  background-color: #00A7B5;
  border-width: 3px;
  border-style: solid;
  border-radius: 8px;
  width: 212px;
}
.title-photo {
font-family: 'ITC Avant Garde Gothic', sans-serif;
margin: 18.2px 0 0 0;
font-size: 16px;
color: gray;
font-weight: bold;
}


